* {
margin: 0px;
padding: 0px;
}

/*parent page*/
#parent{
	
    border-radius: 70px;
    width: 60px;
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#parentPage #wraper{

	border: 1px solid #ABD046;
    
    /* width: 10%; */
    /* height: 10%; */
    padding: 5% 15% 5% 15%;
        border-radius: 6px;
}
#child{
	
    border-radius: 70px;
    width: 50px;
    margin-left: 6%;
    margin-top: 6%;
    height: 50px;
}
main{
	position:absolute;
	top:10%;
	width: 70%;
    height: 80%; 
	margin-left: 15%;
}
#wraper p{
    color: #008DB1;
    display: inline-block;
    margin-left: 37%;
    margin-top: 6%;
}
#parentPage header a{
	height: 40px;
	width: 40px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
/*welcome page*/
#welcome #wraper form{
	    border: 1px solid #ABD046;
    /* width: 10%; */
    /* height: 10%; */
    padding: 4% 0% 0% 10%;
    border-radius: 6px;

}
#welcome #wraper label{
	display: block;
	margin-bottom: 10px;
}
#welcome #wraper label:nth-child(2){
	display: block;
	margin-bottom: 10px;
    margin-left: 80px;
}
#welcome #wraper input[type=text]{
	border: 1px solid #ABD046;	
	
	direction: rtl;
	display: block;
}
#welcome #wraper form > p{
	    position: inherit;
    color: #006C52;
    margin-top: 6%;
    margin-left: 2%;
    /* margin: 0; */
} 

#welcome #wraper > p{
	position:inherit;
	color: #006C52;
    margin-top: 50%;
    
    margin-left: 21%;
}
#welcome #wraper input[type=submit]{
	
        border: 1px solid #000000;
    /* margin-left: 20%; */
    /* margin-top: 50%; */
    width: 25px;
    height: 25px;
    /* height: 10%; */
    border-radius: 25px;
    position: relative;
    top: 55px;
    right: 210px;
}
 
#welcome #wraper form a{
	    position: inherit;
    color: #006C52;
    margin-left: 6%;
 
} 
#allRights{
	position: inherit;
    color: #006C52;
    margin-left: 6%;
    padding-left: 47%;
    margin-top: 0%;
 
} 
#arrow{
	width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid blue;
}

