/** Global Settings **/

* {
    margin: 0px;
    padding: 0px;
}
header,
footer,
main,
section,
aside,
article,
nav {
    display: block;
}
a {
    text-decoration: none;
    display: block;
}
.clear {
    clear: both;
}
.left {
    margin: -54px 10px 10px 10px;
    float: left;
}
/** Welcome Page **/

@media only screen and (min-width: 769px) {
    #logo {
        background-image: url(../images/logo.gif);
        background-repeat: no-repeat;
        background-position: right 10px bottom;
        padding-top: 40px;
    }
    #wrapper {
        width: 700px;
        margin: 0 auto;
        padding-top: 25px;
        direction: rtl;
    }
    body {
        font-family: "arial";
        padding-left: 20px;
        background-color: #f3f3f3;
    }
    h1 {
        padding-bottom: 10px;
        padding-right: 150px;
        font-size: 48px;
        color: #006c52;
    }
    form {
        border: 8px solid;
        border-radius: 25px;
        border-color: #abd146;
        background-color: #FFFFFF;
        height: 470px;
        padding-top: 60px;
        padding-right: 38px;
    }
    form .message a {
        color: #006c52;
        font-weight: bold;
        display: inline;
    }
    form p {
        padding: 10px;
        color: #006c52;
    }
    form .rights {
        padding-top: 200px;
    }
    input[type=text] {
        height: 53px;
        width: 512px;
        border-radius: 15px;
        font-size: 20px;
        border: 4px solid;
        border-color: #abd146;
        padding-right: 5px;
    }
    input[type=password] {
        height: 53px;
        width: 512px;
        border-radius: 15px;
        font-size: 20px;
        border: 4px solid;
        border-color: #abd146;
        margin-top: 25px;
        padding-right: 5px;
    }
    input[type=email] {
        height: 53px;
        width: 512px;
        border-radius: 15px;
        font-size: 20px;
        border: 4px solid;
        border-color: #abd146;
        margin-top: 25px;
        padding-right: 5px;
    }
    select {
        height: 53px;
        width: 523px;
        border-radius: 15px;
        font-size: 20px;
        border: 4px solid;
        border-color: #abd146;
        margin-top: 25px;
        padding-right: 5px;
    }
    /*
input[type=submit]{
	height:100px;
	width:100px;
	margin-right:500px;
	margin-top: -30px;
    background: url(../images/submit.png);
    border: 0px;
}*/
    
    form .submit a {
        margin-top: -40px;
        margin-right: 450px;
    }
    footer img {
        float: right;
        margin: 0 -2px;
        padding: 1px;
        border: 0px;
    }
}
/** Welcome mobile **/

@media only screen and (max-width: 769px) {
    #logo {
        background-image: url(../images/logo.gif);
        background-repeat: no-repeat;
        background-position: right 10px bottom;
        padding-top: 40px;
    }
    #wrapper {
        width: 480px;
        margin: 0 auto;
        padding-top: 25px;
        direction: rtl;
    }
    body {
        font-family: "arial";
        background-color: #f3f3f3;
    }
    h1 {
        padding-bottom: 10px;
        padding-right: 150px;
        font-size: 48px;
        color: #006c52;
    }
    form {
        border: 8px solid;
        border-radius: 25px;
        border-color: #abd146;
        background-color: #FFFFFF;
        height: 470px;
        padding-top: 60px;
    }
    form .message a {
        color: #006c52;
        font-weight: bold;
        display: inline;
    }
    form p {
        padding: 10px;
        color: #006c52;
    }
    form .rights {
        padding-top: 200px;
    }
    input[type=text] {
        height: 53px;
        width: 300px;
        border-radius: 15px;
        font-size: 20px;
        border: 4px solid;
        border-color: #abd146;
        padding-right: 15px;
    }
    input[type=password] {
        height: 53px;
        width: 300px;
        border-radius: 15px;
        font-size: 20px;
        border: 4px solid;
        border-color: #abd146;
        margin-top: 25px;
        padding-right: 15px;
    }
    /*
input[type=submit]{
	height:100px;
	width:100px;
	margin-right:500px;
	margin-top: -30px;
    background: url(../images/submit.png);
    border: 0px;
}*/
    
    form .submit a {
        margin-top: -40px;
        margin-right: 300px;
    }
    footer img {
        float: right;
        margin: 0 -2px;
        padding: 1px;
        border: 0px;
    }
}
/** register page desktop **/

@media only screen and (min-width: 769px) {
    #register input[type=submit] {
        border-radius: 1%;
    }
    #register input[type=email] {
        height: 53px;
        width: 512px;
        border-radius: 15px;
        font-size: 20px;
        border: 4px solid;
        border-color: #abd146;
        margin-top: 25px;
        padding-right: 5px;
    }
    #register select {
        color: #aaaaaa;
        height: 53px;
        width: 528px;
        font-size: 20px;
        border: 4px solid;
        border-color: #abd146;
        margin-top: 25px;
        padding-right: 5px;
    }
    #register form {
        height: 570px;
    }
    #register form .rights {
        padding-top: 30px;
    }
}
/** register page mobile **/

@media only screen and (max-width: 769px) {
    #register input[type=email] {
        height: 53px;
        width: 310px;
        border-radius: 15px;
        font-size: 20px;
        border: 4px solid;
        border-color: #abd146;
        margin-top: 25px;
        padding-right: 5px;
    }
    #register select {
        color: #aaaaaa;
        height: 53px;
        width: 325px;
        font-size: 20px;
        border: 4px solid;
        border-color: #abd146;
        margin-top: 25px;
        padding-right: 5px;
    }
    #register form {
        height: 570px;
    }
    #register form .rights {
        padding-top: 30px;
    }
    #register header h1 {
        font-size: 32px;
    }
}
@media only screen and (min-width: 769px) {
    #master main {
        border: 8px solid;
        border-radius: 25px;
        border-color: #abd146;
        background-color: #FFFFFF;
        height: 470px;
        padding-top: 60px;
        padding-right: 38px;
    }
    #master #wrapper {
        width: 1000px;
        margin: 0 auto;
        padding-top: 25px;
        direction: rtl;
    }
    #master header h1 {
        padding-bottom: 20px;
    }
    #master main img {
        border: 4px solid;
        border-radius: 150px;
        border-color: #006c52;
    }
    /** Parent Menu **/
    
    #master nav .topnav {
        border: 4px solid;
        border-color: #006c52;
    }
    #master ul.topnav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border-radius: 15px;
        margin-left: -244px;
    }
    #master ul.topnav li {
        float: left;
        border-right: 4px solid;
        border-color: #006c52;
        padding: 10px;
        background-color: #FFFFFF;
    }
    /* position*/
    
    #master nav {
        position: relative;
        width: 279px;
        float: left;
        margin-left: -105px;
        margin-top: -14px;
    }
    /**/
    
    #master nav a {
        color: #006c52;
    }
    #master nav>ul li:last-child {
        border-right: 0px;
    }
    /** Parent header **/
    
    #master header .parent {
        float: left;
        position: relative;
        top: -130px;
        left: 40px;
        border: 4px solid;
        border-color: #006c52;
        border-radius: 150px;
    }
    #master header .kid2 {
        float: left;
        position: relative;
        top: -125px;
        left: 50px;
        border: 4px solid;
        border-color: #abd146;
        border-radius: 150px;
    }
    #master header .kid1 {
        float: left;
        position: relative;
        top: -125px;
        left: 60px;
        border: 4px solid;
        border-color: #abd146;
        border-radius: 150px;
    }
    #master header .plus {
        float: left;
        position: relative;
        top: -115px;
        left: 70px;
    }
    #master main .kid2 {
        border: 2px solid;
        border-color: #006c52;
        border-radius: 150px;
    }
    #master main .kid1 {
        margin-top: 60px;
        border: 2px solid;
        border-color: #006c52;
        border-radius: 150px;
    }
    #master main .pluskid {
        margin-top: 40px;
        padding: 10px;
        border: 0px;
    }
    #master .star {
        visibility: hidden;
        font-size: 30px;
        cursor: pointer;
    }
    #master .star:before {
        content: "\2605";
        position: absolute;
        visibility: visible;
    }
    #master .star:checked:before {
        content: "\2606";
        position: absolute;
    }
    #master .day {
        float: left;
        position: relative;
        margin-left: 680px;
        margin-top: -70px;
    }
    #master .day h4 {
        padding-right: 10px;
        letter-spacing: 3px;
        color: #006C52;
    }
    #master .book1 {
        margin-left: 500px;
        margin-top: -100px;
        border-radius: 0px;
        border: 0px;
        float: left;
        position: relative;
    }
    #master .day2 {
        margin-left: 680px;
        margin-top: -80px;
        float: left;
        position: relative;
    }
    #master .day2 h4 {
        padding-right: 10px;
        letter-spacing: 3px;
        color: #006C52;
    }
}
/** Parent page Mobile **/

@media only screen and (max-width: 769px) {
    #master main {
        border: 8px solid;
        border-radius: 25px;
        border-color: #abd146;
        background-color: #FFFFFF;
        height: 470px;
        padding-top: 60px;
        padding-right: 38px;
    }
    #master #wrapper {
        width: 600px;
        margin: 0 auto;
        padding-top: 25px;
        direction: rtl;
    }
    #master header h1 {
        padding-bottom: 20px;
    }
    #master main img {
        border: 4px solid;
        border-radius: 150px;
        border-color: #006c52;
    }
    /** Parent Menu **/
    
    #master nav .topnav {
        border-bottom: 4px solid;
        border-color: #abd046;
    }
    #master ul.topnav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        margin-left: -100px;
    }
    #master ul.topnav li {
        float: left;
        border-right: 4px solid;
        border-color: #abd046;
        padding: 10px;
        background-color: #FFFFFF;
        border-radius: 15px;
    }
    /* position*/
    
    #master nav {
        position: relative;
        width: 279px;
        float: left;
        margin-left: -105px;
        margin-top: -14px;
    }
    /**/
    
    #master nav a {
        color: #006c52;
    }
    #master nav>ul li:last-child {
        border-right: 0px;
    }
    /** Parent header **/
    
    #master header {
        padding-bottom: -50px;
    }
    #master header .parent {
        float: left;
        visibility: hidden;
    }
    #master header .kid2 {
        float: left;
        visibility: hidden;
    }
    #master header .kid1 {
        visibility: hidden;
        float: left;
    }
    #master header .plus {
        visibility: hidden;
        float: left;
    }
    #master main .kid2 {
        border: 2px solid;
        border-color: #006c52;
        border-radius: 150px;
        margin-right: -300px;
    }
    #master main .kid1 {
        margin-top: 50px;
        border: 2px solid;
        border-color: #006c52;
        border-radius: 150px;
        margin-right: -300px;
    }
    #master main .pluskid {
        margin-top: 20px;
        padding: 10px;
        border: 0px;
    }
    #master .star {
        visibility: hidden;
        font-size: 30px;
        cursor: pointer;
    }
    #master .star:before {
        content: "\2605";
        position: absolute;
        visibility: visible;
    }
    #master .star:checked:before {
        content: "\2606";
        position: absolute;
    }
    #master .day {
        float: right;
        position: relative;
        margin-right: 150px;
        margin-top: 50px;
    }
    #master .day h4 {
        padding-right: 10px;
        letter-spacing: 3px;
        color: #006C52;
    }
    #master .book1 {
        margin-left: 100px;
        margin-top: -100px;
        border-radius: 0px;
        border: 0px;
        float: left;
        position: relative;
    }
    #master .day2 {
        margin-right: 150px;
        margin-top: -60px;
        float: right;
        position: relative;
    }
    #master .day2 h4 {
        padding-right: 10px;
        letter-spacing: 3px;
        color: #006C52;
    }
}

/*books page*/

#books main {
        border: 8px solid;
        border-radius: 25px;
        border-color: #abd146;
        background-color: #FFFFFF;
        min-height: 470px;
        padding-top: 60px;
        padding-right: 38px;
    }
    
#books main img {
      	padding-top:10px;
        padding-right: 20px;
    }